  .header-container {
    position: fixed;
    top: 0;
    background-color: #87CEEB;
    width: 100%;
    z-index: 2000;
    height: 57px;
}

.right-container {
    float: right;
    margin-right: 200px;
    position: fixed;
}

.right {
    float: right;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #516475;
    display: block;
    font-weight: bold;
    padding-top: 19px;
    padding-right: 10px;
    padding-bottom: 19px;
    padding-left: 10px;
}


body {
	font-family: helvetica, arial, sans-serif;
	max-width: 720px;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	line-height: 1.4;
	background: white;
}

#header {
	font-family: helvetica, arial, sans-serif;
	margin: auto;
}

.strona {
	text-align: center; 
	margin: auto;
}

.posty {
	text-align: left;
}

.photo {
	max-width: 850px; !important
}

img {
	padding-top:15px;
	padding-bottom: 15px;
	max-width: 100%;
}

/*.logo {
	padding: 0px; !important
}*/
